:root {
    --scrollColor: #4285f4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Google Sans", sans-serif;
}

.header {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    box-shadow: 0 4px 8px -2px rgba(0, 0, 0, .19);
    position: fixed;
    top: 0;
    left: 0;
    background: white;
}

.header--logo {
    height: 100%;
}

.header--logo img {
    height: 100%;
}

.header--nav {
    display: flex;
    align-items: center;
}

.nav-links {
    padding: 0.5rem 1rem;
    margin: 0 1rem;
    color: #4285f4;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-out;
}

.nav-links:hover {
    background-color: #e8f0fe80;
}

.active-nav {
    background-color: #e8f0fe;
}

#subscribe {
    padding: 0.5rem 1rem;
    margin: 0 1rem;
    border-radius: 5px;
    cursor: pointer;
    background: #fff;
    color: #EA4335;
    font-weight: 500;
    transition: all 0.3s ease-out;
}

#subscribe:hover {
    background: #EA4335;
    color: white;
}

.main {
    width: 80%;
    display: flex;
    margin: calc(1rem + 10vh) auto 1rem;
    color: #616161;
    overflow-x: hidden;
}

.footer {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    color: rgb(97, 97, 97);
}

.main--content {
    display: flex;
    height: 75vh;
    width: 100%;
    flex-shrink: 0;
}

hr {
    border-color: rgba(0, 0, 0, 0.12);
}

.home {
    padding-left: 1rem;
}

.home--content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* background-color: #f9f9f9; */
}

.main-text {
    font-size: 3rem;
    color: #ea4335;
}

.support-text {
    font-size: 2rem;
    margin-left: 0.6rem;
}

.description {
    font-size: 1.2rem;
}

.description--points {
    margin-left: 1rem;
    padding-left: 1rem;
}

#subscribe2 {
    font-weight: 500;
    cursor: pointer;
    text-decoration: underline;
}

.home--logo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center
}

.home--logo img {
    width: 100%;
    max-height: 100%;
}

.archives,
.team {
    flex-direction: column;
    align-items: center;
}

.archives--header,
.team--header {
    font-size: 2rem;
    font-weight: 600;
}

.archives--container {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 1rem 1rem;
    overflow-y: auto;
}

.item--container {
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
    padding-bottom: 0.4rem;
    margin-top: 1rem;
}

.item--category {
    flex-basis: 15%;
    text-align: center;
    padding: 4px;
    margin-right: 1rem;
    border-radius: 4px;
}

.category-event {
    color: white;
    background: #f4b400;
}

.category-newsletter {
    color: white;
    background: #3cba54;
}

.item--link {
    flex: 1;
    color: #4285f4;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item--link:hover {
    transform: scale(1.01);
}

.item--date {
    flex-basis: 20%;
    text-align: end;
}

.team--container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.team--card {
    flex-basis: 25%;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
    border-radius: 0.4rem;
    box-shadow: 0 4px 8px -2px rgba(0, 0, 0, .19);
    transition: transform 0.2s cubic-bezier(0, 0.53, 0, 0.88);
}

.team--card:hover {
    box-shadow: 0 10px 12px -4px rgba(0, 0, 0, .19);
    cursor: pointer;
}

.team--img {
    object-fit: cover;
    width: 100%;
    border-radius: 50%;
}

.team--name {
    font-size: 1.4rem;
    margin: 1rem 0 0.4rem;
    font-weight: 600;
}

.team--description {
    color: #00000090;
    font-size: 0.8rem;
    margin-bottom: 0.4rem;
}

.team--social {
    display: flex;
}

.team--social-links {
    text-decoration: none;
    height: 2rem;
    width: 2rem;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social {
    font-size: 1.2rem;
    margin: 1rem 0.5rem;
    display: flex;
    align-items: center;
}

.social--icons {
    margin-left: 1rem;
    display: flex;
    justify-content: space-evenly;
}

.social--links {
    text-decoration: none;
    height: 2rem;
    width: 2rem;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social--links:hover {
    background-color: #88888860;
    border-radius: 8px;
}

.important {
    font-size: 1.2rem;
    margin: 1rem 0.5rem;
    display: flex;
    flex-direction: column;
}

.important--sections {
    display: flex;
    margin: 0.4rem 0;
}

.link-section {
    display: flex;
    flex-direction: column;
    margin-right: 10rem;
}

.link-section a {
    color: currentColor;
    text-decoration: none;
    font-weight: 500;
}

.community {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    margin: 1rem 0.5rem 2rem;
}

.community div img {
    height: 100%;
}

#iframe--container {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

#iframe--close,
#subscribe--close {
    position: fixed;
    right: 0;
    top: 0;
    font-size: 1.5rem;
    margin-right: 1rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-out;
}

#iframe--close:hover,
#subscribe--close:hover {
    background-color: #00000080;
    color: white;
}

#subscribe--container {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.form--container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #00000050;
}

#mc_embed_signup {
    background: #fff;
    clear: left;
    font-size: 14px;
    width: 40%;
    border-radius: 1rem;
}

#mc-embedded-subscribe {
    background-color: #1a73e8 !important;
}

#mc-embedded-subscribe:hover {
    background-color: #4285f4 !important;
}

.display-none {
    display: none;
}

::-webkit-scrollbar {
    width: 0.9rem;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888888;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollColor);
}

#small-screen {
    display: none;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: white;
    font-size: 2rem;
    padding: 2rem;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    text-align: start;
}

#small-screen-header {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-align: right;
    border-bottom: 2px solid #EA4335;
}

@media screen and (max-width: 840px) {
    /* #small-screen {
        display: flex;
    } */
    .header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 15vh;
    }
    .header--logo {
        height: 50%;
    }
    .header--nav {
        justify-content: space-between;
        width: 100%;
    }
    .nav-links {
        padding: 0.4rem;
        margin: 0;
    }
    #subscribe {
        padding: 0;
        margin: 0;
    }
    .main {
        margin-top: calc(1rem + 15vh);
        width: 90%;
    }
    .main--content {
        height: 75vh;
    }
    .home {
        flex-direction: column-reverse;
        padding-left: 0;
    }
    .home--logo img {
        height: 200px;
        width: 200px;
    }
    .support-text {
        font-size: 1.3rem;
        margin-left: 0;
    }
    .main-text {
        font-size: 2rem;
    }
    .description {
        font-size: 0.8rem;
    }
    .archives--container {
        margin: 0;
    }
    .item--container {
        width: 100%;
        font-size: 0.8rem;
    }
    .item--category {
        font-size: 0.6rem;
        flex-basis: 20%;
    }
    .item--date {
        font-size: 0.6rem;
    }
    .team--container {
        flex-direction: column;
    }
    .team--card {
        display: grid;
        grid-template-areas: "img name" "img description" "img social";
        width: 100%;
    }
    .team--img {
        height: 100px;
        width: 100px;
        grid-area: img;
    }
    .team--name {
        grid-area: name;
        margin: 0;
        font-size: 1.2rem;
    }
    .team--social {
        grid-area: social;
    }
    .team--description {
        grid-area: description;
        margin: 0;
    }
    .footer {
        width: 95%;
    }
    .social {
        font-size: 1rem;
    }
    .important {
        font-size: 1rem;
    }
    .important--sections {
        font-size: 0.7em;
    }
    .link-section {
        margin-right: 4rem;
    }
    .community {
        font-size: 0.8rem;
        height: 6vh;
    }
    #mc_embed_signup {
        width: 80%;
    }
}

@media screen and (max-width:440px) {
    .community {
        height: 5vh;
    }
    .team--card {
        gap: 10px;
    }
    .team--name {
        font-size: 1rem;
    }
    .team--img {
        height: 70px;
        width: 70px;
    }
    .main--content {
        height: 70vh;
    }
}

@media screen and (max-height:600px) {
    #small-screen {
        display: flex;
    }
}